// = Colors =
$color__primary: #4A90E2;
$color__secondary: #FF4677;
$color__default: #f9f9f9;
$color__warning: #FFA000;
$color__success: #27AE60;
$color__light: #ffffff;
$color__dark: #333333;
$color__neutral: #838383;
$color__neutral--dark: #2D323A;
$color__neutral--light: #D9D9D9;

// = Font weights =
$font__light: 300;
$font__regular: 400;
$font__medium: 500;
$font__semi-bold: 600;
$font__bold: 700;
$font__extra-bold: 800;
$font__black: 900;

// = Font sizes =
$font__default: 16px;
$font__title: 32px;
$font__subtitle: 24px;
$font__xs: 12px;
$font__sm: 14px;
$font__xl: 20px;
