@import 'src/styles/helpers/variables';

.form {
	&__group {
		display: flex;
		flex-direction: column;
	}

	&__field {
		margin-bottom: 10px;
	}

	&__error {
		display: block;
		margin-bottom: 10px;
		font-size: $font__sm;
		color: $color__secondary;
	}
}
