@import 'src/styles/helpers/variables';

.input {
	padding: 10px 15px;
	border: 1px solid $color__neutral--light;
	border-radius: 5px;

	&:focus {
		outline-width: 0;
		border-color: $color__primary;
	}

	&::placeholder {
		opacity: 1;
		color: $color__neutral;
	}

	&--full-width {
		width: 100%;
	}
}
