@import 'src/styles/helpers/variables';

.header {
	margin-bottom: 50px;
	padding: 10px 0;
	background-color: $color__primary;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		position: relative;

		span {
			font-size: $font__xl;
			font-weight: $font__bold;
			color: $color__light;
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__auth {
		display: grid;
		grid-template-columns: auto auto;
		gap: 30px;
		align-items: center;
	}

	&__sign-in {
		position: relative;
		color: $color__light;

		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			right: 0;
			width: 0;
			height: 1px;
			background-color: $color__light;
			transition: 0.3s ease;
		}

		&:hover {
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}

	&__sign-up {
		display: block;
		padding: 10px 15px;
		border: 1px solid $color__light;
		border-radius: 5px;
		color: $color__light;
		transition: 0.3s ease;

		&:hover {
			background-color: $color__light;
			color: $color__dark;
		}
	}
}
