@import 'src/styles/helpers/variables';

.button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;

	&--primary {
		background-color: $color__primary;
		color: $color__light;

		&:hover {
			background-color: lighten($color__primary, 4%);
		}
	}

	&--secondary {
		background-color: $color__secondary;
		color: $color__light;

		&:hover {
			background-color: lighten($color__secondary, 4%);
		}
	}

	&--success {
		background-color: $color__success;
		color: $color__light;

		&:hover {
			background-color: lighten($color__success, 4%);
		}
	}

	&--full-width {
		width: 100%;
	}
}
